<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= link_to(gravatar_for(@user), @user, {:style => 'color: black;'}) %>
				<%= link_to(@user.name, @user, {:style => 'color: black; text-decoration: none;'}) %>
			</h1>
			<% unless @user.microposts.empty? %>
				<table class="microposts" summary="User microposts">
					<%= render @microposts %>
				</table>
				<%= will_paginate @microposts %>
			<% end %>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %> <br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %> <br />
			<strong>Microposts</strong> <%= @user.microposts.count %>
		</td>
	</tr>
</table>